.about-as{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 1000px;
    border: 1px solid red;
}
.about-as-title{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}
.about-as-text{
    display: flex;
    flex:3;
    flex-direction: column;
}
.about-us-img{
    display: flex;
    flex: 3;
}
.about-us-imges{
    display: flex;
    flex: 1;
    border: 1px solid black;
}
.about-us-img-text{
    display: flex;
    flex: 3;
    background-color: blueviolet;
}
.about-as-button{
    display: flex;
    flex: 1;
    background-color: brown;

}